

.container { 
    margin-top: 110px;
    margin-left: 50px;
}

.big-div-qr {
    background-image: url("qrCode.png");
    height:1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
     z-index: -1;   

}