
.table {
    margin: 40px;
    background-color: #264653;
    border-radius: 50px;
    width:100px;
    height: 100px;
    color: #2A9D8F;
    /* display:flex; */
    /* text-align: center; */
     display:inline-block;
    flex-wrap: wrap;
}

.table h2 {
    display:flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 35px;
}

.table-main {
    width: 400px;
    height: 100%;
    display:table-row
}