
.table {
    margin: 10px;
    background-color: #264653;
    border-radius: 50px;
    width:100px;
    height: 100px;
    color: #2A9D8F;
    /* display:flex; */
    /* text-align: center; */
     display:inline-block;
    flex-wrap: wrap;
}

.table h2 {
    display:flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 35px;
}

.table-main {
    /* margin-top:10px; */
    column-count: 3;
    column-gap: 40px;
}

.big-div {
    background-image: url("table.png");
    height:1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;

}

.table-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-con {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid;
 
}
.table-con2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}