.staff-link {
    text-decoration: none;
    color: #2A9D8F;
}

.staff-link:hover {
    color: #F4A261;
}

.stupid-form { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-div2 {
    background-image: url("mana.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.container {
    margin-top:100px;
}

.btn {
    display:flex;
    align-items: center;
}