/* .whole-menue {
    height: 1000px;
    width: 1000px;
    background-color: blue;
} */

/* .food-item {
    height: 100px;
    width: 400px;
    background-color: green;
} */

.full-menu {
    background-color: rgb(209, 201, 201);
    border-radius: 3px;
    width: 1300px;
    height: 100%;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center
}

.full-menu-text {
    color: black;
}

#menu-name { 
    overflow: hidden;
    white-space: nowrap;
    color:black;
    text-align:center;
    position: absolute;
    top: 20%;
    left: 650px;
}