
.full-menu {
    margin-top: 160px;
    border-radius: 3px;
    width: 1300px;
    height: 100%;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center
}

.full-menu-text {
    color: black;
}

#menu-name { 
    /* margin-top: 20px; */
    overflow: hidden;
    white-space: nowrap;
    color:black;
    text-align:center;
    position: absolute;
    top: 20%;
    left: 650px;
}

