#add-button {
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    
}
#add-button p {
    display: inline-block;
    margin-right:10px;
}

.icon { 
    /* margin-top: 10px; */
}